<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecoveryTime - {{.strategy.Title}}</title>
    <link rel="stylesheet" href="/resources/styles/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/" class="logo">REcovery<span class="logo--accent">Time</span></a>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <div class="content-card">
                <section class="strategy-details">
                    <h2>{{.strategy.Title}}</h2>
                    <div class="details-content">
                        <img src="{{.strategy.ImageURL}}" alt="{{.strategy.Title}}" class="details-content__image">
                        <p class="details-content__text">
                            {{.strategy.Description}}
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>
</html>